body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "TT-Fors-Medium";
  src: local("TT-Fors-Medium"),
    url("./fonts/TT-Fors-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "SansSemi-ExtraLight";
  src: local("SansSemi-ExtraLight"),
    url("./fonts/EncodeSansSemiCondensed-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "TT-Fors-Regular";
  src: local("TT-Fors-Regular"),
    url("./fonts/TT-Fors-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Outfit-ExtraBold";
  src: local("Outfit-ExtraBold"),
    url("./fonts/Outfit-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Outfit-Regular";
  src: local("Outfit-Regular"),
    url("./fonts/Outfit-Regular.ttf") format("truetype");
}
